
.cardMain{
  margin: auto;
  max-width: 950px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}
@media(max-width:767px){
  .cardMain{
      margin: 3vh auto;
  }
}


.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.counter-cart {
  position: relative;
  bottom: 7px;
}